In [1]:
import pandas as pd

In [23]:
df = pd.read_csv("/Users/jooyoung/Downloads/Focusmate QA 기록 - 사용기록(DS용) (1).csv")

df.head()

,Date,Time,Name,Label,Percentage,Note,Email,Memo
0,2023.10.23,17:15,공지현,집중,68%,#작업 #문서 읽기,gjh2672@nate.com,NaN
1,2023.10.23,17:21,공지현,딴짓,50%,#카톡 #멍때리기,gjh2672@nate.com,NaN
2,2023.10.23,17:31,공지현,집중,36%,#작업 #문서 읽기,gjh2672@nate.com,NaN
3,2023.10.23,17:36,공지현,딴짓,79%,#카톡 #멍때리기,gjh2672@nate.com,NaN
4,2023.10.23,17:18,김주영,집중,133%,#작업,jooyoung.kim@epitech.eu,NaN

In [24]:
df['datetime'] = df['Date'] + ' ' + df['Time']

# "Date"와 "Time" 열은 더 이상 필요하지 않으므로 삭제합니다.
df.drop(['Date', 'Time'], axis=1, inplace=True)

df['datetime'] = pd.to_datetime(df['datetime'], format='%Y.%m.%d %H:%M')

In [25]:
df.head()

,Name,Label,Percentage,Note,Email,Memo,datetime
0,공지현,집중,68%,#작업 #문서 읽기,gjh2672@nate.com,NaN,2023-10-23 17:15:00
1,공지현,딴짓,50%,#카톡 #멍때리기,gjh2672@nate.com,NaN,2023-10-23 17:21:00
2,공지현,집중,36%,#작업 #문서 읽기,gjh2672@nate.com,NaN,2023-10-23 17:31:00
3,공지현,딴짓,79%,#카톡 #멍때리기,gjh2672@nate.com,NaN,2023-10-23 17:36:00
4,김주영,집중,133%,#작업,jooyoung.kim@epitech.eu,NaN,2023-10-23 17:18:00

In [26]:
# PyMongo 라이브러리를 불러옵니다.
import pymongo

# MongoDB 연결 문자열을 설정합니다.
connection_string = "mongodb://looxidlabs:looxidlabs.vkdlxld!@3.36.42.241:39632/m-project-dev?authSource=admin&readPreference=primary&directConnection=true&ssl=false"

# MongoDB 클라이언트를 생성합니다.
client = pymongo.MongoClient(connection_string)

# "focusmate-dev" 데이터베이스에 연결합니다.
db = client["focusmate-dev"]

# "users" 컬렉션을 선택합니다.
collection = db["users"]

# 이제 "collection" 변수를 사용하여 MongoDB의 "users" 컬렉션에 액세스할 수 있습니다.
# 예를 들어, 데이터를 삽입하거나 조회할 수 있습니다.

In [29]:
query = {"email": "gjh2672@nate.com"}
result = collection.find_one(query)

result

{'_id': ObjectId('6535d1900d097eeb1f6f648c'),
 'email': 'gjh2672@nate.com',
 'nickname': '지현',
 'picture': 'https://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz0wDuJn1YV2DIn92f6DVK/img_110x110.jpg',
 'providerIds': ['3101090321'],
 'providers': ['KAKAO'],
 'roles': [],
 'isPrivate': False,
 'systemPush': True,
 'isDeleted': False,
 'deletedAt': None,
 'createdAt': datetime.datetime(2023, 10, 23, 1, 51, 12, 434000),
 'updatedAt': datetime.datetime(2023, 10, 23, 5, 20, 42, 867000),
 'pushToken': 'cG8QKNWUf0r3kL-7b0rCC7:APA91bFS467dNNAe9TvdczDfMvT0zseVUprvLuPoqdtgYfLtRoGYiy7NCFFYQLpp9DtPrWffVUWc8zMCdKoFMd4z-at2w5yROMl8JxraULCiR1wbpzUraeTxXm-jK8SL3G55mEtQuujx',
 'deviceId': ObjectId('651296b65c7b33b22a20ff6d')}

In [30]:
result["_id"]

ObjectId('6535d1900d097eeb1f6f648c')

In [ ]:
collection = db["focustimers"]

query = {"userId": result["_id"]}

result = collection.find_one(query)